<div class="">
    <div class="container-inner">
        <div class="side-nav">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h4>Saved Recipies</h4>
                </li>
                <% recipes.forEach((element, index) => { %>


                    <li class="collection-item" id="<%= activeIndex == index ?'active-fav': ''%>">
                        <a href="#" onclick="window.location='/favourites/<%= element._id %>/<%= index %>';">
                            <%= element.favourite.label %>
                        </a>
                    </li>

                    <% }) %>
            </ul>
        </div>

        <div class="container favourites">
            <div class="col s12 m12 card inner-card">
                <form action="/favourites/<%= element._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-flat secondary-content"><i class="material-icons">delete</i></button>
                </form>
                <div class="title-label">
                    <h4>
                        <%= element.favourite.label %>
                    </h4>
                    <div>

                        <h6><a href="#" id="show-schedule">Add to food timetable</a></h6>
                    </div>
                    <div id="meal-schedule">

                        <form action="/mealplan" id="meal-plan-form2" method="POST">
                            <input type="text" class="datepicker" name="mealDate" placeholder="Choose date" required>
                            <div class="input-field col s6">
                                <select name="mealTime" id="meal-time" required>
                                    <option value="" disabled selected>Choose meal time</option>
                                    <option value="breakfast">Breakfast</option>
                                    <option value="lunch">Lunch</option>
                                    <option value="dinner">Dinner</option>
                                </select>
                            </div>
                            <input type="hidden" name="mealValue" value="<%= JSON.stringify(element.favourite) %>" />
                            <input type="hidden" name="favouriteIndex" value="<%= element._id %>">
                            <input type="hidden" name="activeIndex" value="<%= activeIndex %>">


                            <button class="btn waves-effect waves-light grey " type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                </div>



                <img class=" s12 m12 inner-img" id="activator" src="<%= element.favourite.image %>">
            </div>
            <div class="">



                <div class=" ">

                </div>
                <div class="">

                </div>
                <a class="modal-trigger right-align" id="m<%= activeIndex %>" href="#modal<%= activeIndex %>">View
                    Nutrition</a>
                <div id="modal<%= activeIndex %>" class="modal">
                    <div class="modal-content">
                        <h4>Recipe Nutrition Analysis <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i
                                    class="large material-icons  right">close</i></a>
                        </h4>

                        <div class="inner1"></div>
                        <div class="legend"></div>
                    </div>
                    <div class="modal-footer">
                        <p>Percentages represented are based on the user preferences you selected and each serving of the recipe result </p>
                        <input type="hidden" value="<%= element.favourite.yield %>" />
                        <input type="hidden" value="<%= element.favourite.calories %>" />
                        <input type="hidden" value="<%= element.favourite.nutrients[0].quantity %>" />
                        <input type="hidden" value="<%= element.favourite.nutrients[1].quantity %>" />
                        <input type="hidden" value="<%= element.favourite.nutrients[2].quantity %>" />
                        <input type="hidden" value="<%= element.favourite.nutrients[3].quantity %>" />


                    </div>
                </div>
                <div class="">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5>Ingredients</h5>
                        </li>

                        <% element.favourite.ingredientLines.forEach((one, index) => { %>
                            <li class="collection-item">
                                <%= one %>
                            </li>

                            <% }) %>
                    </ul>


                    <a href="#" onclick="window.open('<%=element.favourite.url%>', '_blank');">Cooking Instructions from
                        <%= element.favourite.source %></a>

                </div>



            </div>


        </div>

        <div class="space"></div>
    </div>


</div>