<div class="container">

    <div class="card-panel">

        <h3>
            Meals For
            <%= mealPlan.dateWithYear  %>
                <form action="/mealplan/<%= mealPlan._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-flat secondary-content"><i class="material-icons">delete</i></button>
                </form>
                <a href="/mealplan/<%= mealPlan._id %>/edit"><i class="material-icons left">edit</i></a>


        </h3>

    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#test1">Breakfast</a></li>
                <li class="tab col s3"><a href="#test2">Lunch</a></li>
                <li class="tab col s3"><a href="#test3">Dinner</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12">
            <div class="container favourites">
                <% if (mealPlan.breakfast && mealPlan.breakfast !== "") { %>
                    <div class="col s12 m12 card inner-card">
                        <div class="title-label">
                            <h4>
                                <%= mealPlan.breakfast.label%>
                            </h4>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <h4>Ingredients</h4>
                            <ol>
                                <% mealPlan.breakfast.ingredientLines.forEach((one, index) => { %>
                                    <li>
                                        <%= one %>
                                    </li>
                                    <% }) %>
                            </ol>
                            Cooking Instructions from
                            <a href="#" onclick="window.open('<%=mealPlan.breakfast.url%>', '_blank');">
                                <%= mealPlan.breakfast.url%>
                            </a>
                        </div>
                    </div>

                    <% } else { %>
                        <p>Not meal here!</p>
                        <a href="/mealplan/<%= mealPlan._id %>/edit">Add Meal</a>

                        <% } %>
            </div>
        </div>
        <div id="test2" class="col s12">
            <div class="container favourites">
                <% if (mealPlan.lunch !== "") { %>
                    <div class="col s12 m12 card inner-card">
                        <div class="title-label">
                            <h4>
                                <%= mealPlan.lunch.label%>
                            </h4>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <h4>Ingredients</h4>
                            <ol>
                                <% mealPlan.lunch.ingredientLines.forEach((one, index) => { %>
                                    <li>
                                        <%= one %>
                                    </li>
                                    <% }) %>
                            </ol>
                            Cooking Instructions from
                            <a href="#" onclick="window.open('<%=mealPlan.lunch.url%>', '_blank');">

                                <%= mealPlan.lunch.url %>
                            </a>

                        </div>
                    </div>

                    <% } else { %>
                        <p>Not meal here!</p>
                        <a href="/mealplan/<%= mealPlan._id %>/edit">Add Meal</a>

                        <% } %>
            </div>
        </div>
        <div id="test3" class="col s12">
            <div class="container favourites">
                <% if (mealPlan.dinner !== "") { %>
                    <div class="col s12 m12 card inner-card">
                        <div class="title-label">
                            <h4>
                                <%= mealPlan.dinner.label%>
                            </h4>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <h4>Ingredients</h4>
                            <ol>
                                <% mealPlan.dinner.ingredientLines.forEach((one, index) => { %>
                                    <li>
                                        <%= one %>
                                    </li>
                                    <% }) %>
                            </ol>
                            Cooking Instructions from
                            <a href="#" onclick="window.open('<%=mealPlan.dinner.url%>', '_blank');">
                                <%= mealPlan.dinner.url %>
                            </a>

                        </div>
                    </div>

                    <% } else { %>
                        <p>Not meal here!</p>
                        <a href="/mealplan/<%= mealPlan._id %>/edit">Add Meal</a>

                        <% } %>
            </div>
        </div>
    </div>

</div>