<div class="container form1" id="">
    <h3 class="center-align">Update your dietary preferences</h3>

    <form class="col s12" action="/users/userPreferences" method="POST">
        <div class="row">
            <div class="col s12">
                Set your daily calorie limit:
                <div class="input-field inline">
                    <input id="calories" type="text" name="calories" class="" value="<%= currentUser.calories %>">
                    <label for="calories">Daily Calorie Goal</label>
                </div>
            </div>
        </div>
        <p class="left-align">Select your diety preferences</p>
        <div class="row">

            <div class="diet">
                <p id="first">
                    <label>
                        <span>Carbs</span>
                        <input id="width" type="text" name="amounts1" value="<%= currentUser.macrosCarbs %>">
                        <label class="amount_inline1" for="amount_inline">Daily Target (grams)</label>
                    </label>

                </p>

                <p>
                    <label>
                        <span>Fat</span>
                        <input id="width" type="text" name="amounts2" value="<%= currentUser.macrosFat %>">
                        <label class="amount_inline2" for="amount_inline">Daily Target (grams)</label>
                    </label>

                </p>

                <p>
                    <label>
                        <span>Protien</span>
                        <input id="width" type="text" name="amounts3" value="<%= currentUser.macrosProtein %>">
                        <label class="amount_inline3" for="amount_inline">Daily Target (grams)</label>
                    </label>

                </p>

                <p>
                    <label>
                        <span>Sugar</span>
                        <input id="width" type="text" name="amounts4" value="<%= currentUser.macrosSugar %>">
                        <label class="amount_inline4" for="amount_inline">Daily Target (grams)</label>
                    </label>

                </p>
            </div>
        </div>


        <p class="left-align">Select your diety preferences</p>
        <div class="row">

            <div class="">

                <p>
                    <label>
                        <input type="radio" name="diet_label" value="vegan"
                            checked="<%= currentUser.diet_label ==="vegan" %>">
                        <span>Vegan</span>

                    </label>

                </p>
                <p>
                    <label>
                        <input type="radio" name="diet_label" value="keto-friendly"
                            checked="<%= currentUser.diet_label ==="keto-friendly" %>" />
                        <span>Keto</span>

                    </label>

                </p>
                <p>
                    <label>
                        <input type="radio" name="diet_label" value="paleo"
                            checked="<%= currentUser.diet_label ==="paleo" %>">
                        <span>Paloe</span>

                    </label>

                </p>
                <p>
                    <label>
                        <input type="radio" name="diet_label" value="gluten-free"
                            checked="<%= currentUser.diet_label ==="gluten-free" %>">
                        <span>Gluten-Free</span>

                    </label>

                </p>
            </div>
        </div>
        <button class="btn block waves-effect waves-light center-align" type="submit" name="action" onclick="window.location='/users/new2';">Create Account
            <i class="material-icons right">send</i>
        </button>
    </form>

</div>