<div class="container">
    <div class="row">
        <form id="search-form" action="/recipies/search" method="GET">
            <div class="col s11">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">local_dining</i>
                        <input type="text" id="autocomplete-input" name="search" class="autocomplete" autocomplete="off">

                        <label for="autocomplete-input">type main ingredient to get recipe ideas</label>



                    </div>


                </div>
            </div>
            <div class="col s1">
                <button type="submit"> <i class="material-icons right">send</i></button>

            </div>
        </form>
    </div>
    <div class="recipes">
        <% recipes.forEach((element, index) => { %>



            <div class="card sticky-action">
              
                <form id="favourites-form" action="/favourites" method="POST">
                    <p>
                        <label>
                        <input type="checkbox" name="favourite" value="<%=  JSON.stringify(element.recipe) %>" />
                        <input type="hidden" name="user" value="<%= currentUser._id %>">
                        <span class="sr-only">Red</span>
                    </label>
                    </p>
                    <input id="hidden-submit" type="submit">
                </form>
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="<%= element.recipe.image %>">
                </div>
                <div class="card-content">
                    <a class="btn-floating waves-effect waves-light red right" id="add-favourite"> <i class="material-icons">add</i></a>
                    <span class="card-title activator grey-text text-darken-4"><%= element.recipe.label %></span>
                    <p>
                        <a href="#">
                            <%= element.recipe.source %>
                        </a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                    <h4>Ingredients</h4>
                    <ol>
                        <% element.recipe.ingredientLines.forEach((one, index) => { %>

                            <li>
                                <%= one %>
                            </li>
                            <% }) %>
                    </ol>
                    <a href="<%= element.recipe.source %>">Cooking Instructions from <%= element.recipe.source %></a>
                    <div id="chart"></div>
                </div>

            </div>

            <% }) %>
    </div>
    <ul class="pagination">
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>

        <li class="active"><a href="/recipies/search">1</a></li>
        <li class="waves-effect"><a href="/recipies/page2">2</a></li>
        <li class="waves-effect"><a href="/recipies/page3">3</a></li>

        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>
