<div class="container">
    <div class="row">
        <form id="search-form" action="/recipies/search" method="GET">
            <div class="col s11">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">local_dining</i>
                        <input type="text" id="autocomplete-input" name="search" class="autocomplete" autocomplete="off">

                        <label for="autocomplete-input">type main ingredient to get recipe ideas</label>



                    </div>


                </div>
            </div>
            <div class="col s1">
                <button type="submit"> <i class="material-icons right">send</i></button>

            </div>
        </form>
    </div>
    <div class="recipes">
        <% recipes.forEach((element, index) => { %>



            <div class="card sticky-action">

                <form id="favourites-form" name="favouritesForm">
                    <p>
                        <label>
                        <input type="checkbox" name="favourite" id="favourite"
                            value="<%=  JSON.stringify(element) %>" />
                        <input type="hidden" name="user" id="user" value="<%= currentUser._id %>">
                        <span class="sr-only">Red</span>
                    </label>
                    </p>
                    <button id="hidden-submit" type="submit"></button>
                </form>
                <a class="modal-trigger right-align" id="m<%= index %>" href="#modal<%= index %>">View Nutrition</a>
                <div id="modal<%= index %>" class="modal">
                    <div class="modal-content">
                        <h4>Modal Header</h4>
                        <div class="inner"></div>
                        <div class="inner1"><input type="hidden" value="" /></div>
                        <div class="inner2"><input type="hidden" value="" /></div>
                        <div class="inner3"><input type="hidden" value="" /></div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                        <input type="hidden" value="<%= element.nutrients[0].quantity %>" />
                    </div>
                </div>
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" id="activator" src="<%= element.image %>">
                </div>
                <div class="card-content">
                    <a class="btn-floating waves-effect waves-light red right" id="add-favourite"> <i class="material-icons">add</i></a>
                    <span class="card-title activator grey-text text-darken-4"><%= element.label %></span>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                    <h4>Ingredients</h4>
                    <ol>
                        <% element.ingredientLines.forEach((one, index) => { %>

                            <li>
                                <%= one %>
                            </li>
                            <% }) %>
                    </ol>


                    <a href="<%= element.source %>">Cooking Instructions from <%= element.source %></a>

                </div>

            </div>

            <% }) %>
    </div>
    <ul class="pagination">
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>

        <li class="active"><a href="/recipies/search">1</a></li>
        <li class="waves-effect"><a href="/recipies/page2">2</a></li>
        <li class="waves-effect"><a href="/recipies/page3">3</a></li>

        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>